<header>
  <div id="logo">
    <h1><a href="#">Manus</a></h1>
  </div>
  <div id="menu">
    <ul>
      <li>
        <div id="search" >
          <form method="get" action="#">
            <div>
              <input type="text" name="s" id="search-text" value="" />
              <input type="submit" id="search-submit" value="GO" />
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</header>





 